<h1>Editing control acceso</h1>

<%= render "form", control_acceso: @control_acceso %>

<br>

<div>
  <%= link_to "Show this control acceso", @control_acceso %> |
  <%= link_to "Back to control accesos", control_accesos_path %>
</div>
